<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form design</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/login.css">
    <script defer src="./js/login.js" type="module"></script>

    <link rel="apple-touch-icon" sizes="120x120" href="./images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="manifest" href="./manifest.webmanifest" crossorigin="use-credentials">
    <link rel="mask-icon" href="./images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="./favicon.ico">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-config" content="./browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="container">
        <form action="">
            <h1 class="mt-5 mb-4">CookE Login <img src="/images/CookE_logo_nav.png" alt="CookE Logo"
                    style="width: 50px; height: 50px; margin-left: 10px;"> </h1>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control user" id="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control pass" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button> 
            <a href="/register" class="mt-3">Register</a>
        </form>
       
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-CZvHFGGz1jZBA2vNYFqZm1WKQlj6dDQie0hF5hSiKD7N92z8e6H9g9bJK5UVO+Fg"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ElEJgjSoXDiHT5S+/qmwv1fYIvHPR0hG3nvDEkJbdj8LQKrF8VdiKwgAtAV6twJt"
        crossorigin="anonymous"></script>
</body>

</html>